.header {
  background-color: $color-gray-dark-2;
  color: $color-gray-light-2;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  height: 100vh;
  width: 10%;
  transition: all 0.2s ease-out;

  &--lightMode {
    background-color: $color-gray-light;
    color: $color-black;
  }
}

.logo {
  background-color: $color-black;
  height: 20rem;
  margin-bottom: 6rem;
}

.nav {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 5rem;

  &__links {
    color: $color-gray-light-2;
    text-decoration: none;
    padding: 2.2rem 0;
    border-top: 1px solid rgba(61, 61, 61, 0.274);
    transition: all 0.2s ease-out;

    &:hover {
      color: $color-primary;
    }
  }

  &__links--lightMode {
    color: $color-black;
    border-top: 1px solid rgba(168, 168, 168, 0.274);

    &:hover {
      color: $color-black;
      font-weight: 400;
    }
  }

  &__social {
    display: flex;
    justify-content: center;
    gap: 3rem;
  }

  &__socialLinks {
    &--lightMode {
      color: $color-black;
    }
  }
}
