@import './utils/variables';
@import './utils/mixins';
@import './base/base';
@import './base/fonts';
@import './base/animations';
@import './components/themeswitcher';
@import './components/main';
@import './components/home';
@import './components/hambmenu';
@import './components/headermobile';
@import './components/headerdesktop';
@import './components/nav';
@import './components/skills';
@import './components/skillsBar';
@import './components/studies';
@import './components/work';
@import './components/contact';
@import './utils/sectionsSpacing';
