@import './utils/variables';
@import './utils/mixins';
@import './base/base';
@import './base/fonts';
@import './base/animations';
@import './components/themeswitcher';
@import './components/main';
@import './components/home';
@import './components/navbar';
@import './components/about';
@import './components/skills';
@import './components/skillsBar';
@import './components/studies';
@import './components/work';
@import './components/contact';
