// COLORS
$color-primary: #ffdf19;
$color-secondary: #d93094;
$color-tertiary: #5bd0d9;
$color-gray-dark: #1d1d1d;
$color-gray-dark-2: #161616;
$color-gray-light: #e6e6e6;
$color-gray-light-2: #c7c7c7;
$color-black: #000;
$color-white: #fff;

$background-color-dark: #1d1d1d;
$background-color-light: #fbfaf8;

// FONTS
$font-default: 1.6rem;

// SHADOWS

// BORDERS
